.form {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  gap: 5px;

  textarea {
    border: 1px solid var(--line-color);
    border-radius: 5px;
    resize: none;
    width: 100%;
    height: 60px;
  }

  &Btns {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
  }

  &Btn {
    font-size: 14px;
    border: 1px solid var(--line-color);
    border-radius: 5px;
    align-self: flex-end;

    &:first-child:hover {
      background-color: var(--primary-color);
      color: #fff;
    }

    &:last-child:hover {
      background-color: var(--line-color);
      // color: #fff;
    }
  }
}
