.tasks {
  padding-top: 100px;
  padding-left: 40px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.title {
  max-width: 400px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 24px;

  input {
    width: 100%;
    padding-right: 35px;
  }

  span {
    display: block;
    white-space: nowrap;
    max-width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.tasksList {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
}

.iconEdit {
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;

  img {
    display: block;
    width: 100%;
    height: 100%;
    width: 20px;
    height: 20px;
  }
}

.modal {
  position: absolute;
  right: -160px;
  top: 20px;
  margin-left: 15px;
  font-size: 16px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
  box-shadow: 0 0px 4px -5px rgba(0, 0, 0, 0.19),
    0 6px 14px 0 rgba(0, 0, 0, 0.03), 0 3px 11px 4px rgba(0, 0, 0, 0.02);
  z-index: 10;
}

.btnShowModal {
  margin-left: auto;
  font-size: 10px;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--line-color);
  border-radius: 100px;
}

.btnModal {
  display: flex;
  align-items: center;
  gap: 7px;

  &:hover {
    background-color: var(--hover-color);
    border-radius: 5px;
  }

  img {
    width: 15px;
    height: 15px;
  }
}

.editing {
  display: flex;
  position: relative;
  align-items: center;
  width: 90%;

  input {
    font-size: 22px;
  }
}

.iconPlus {
  position: absolute;
  right: 8px;
  color: var(--primary-color);
  cursor: pointer;
  z-index: 10;
}

.addTask {
  margin-bottom: 15px;
  color: var(--text-color);
  span {
    color: var(--primary-color);
  }
}

.completedTasks {
  padding-bottom: 50px;
}

.completedTasksCount {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;

  img {
    width: 12px;
    height: 12px;
  }
}

.open {
  img {
    transform: rotate(180deg);
  }
}
