.category {
  position: relative;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.active {
  color: var(--primary-color);
}
